body {
	background: url(../img/12_col.gif) center top repeat-y;
	background-size: 90%;
}

.content {
	width: 90%;
	margin: 0 auto 0 auto;
	display: grid;
}

header {
	width: 1100px;
	height: 150px;
}

.container {
	border: 2px solid #333;
	border-radius: 3px;
}

@media screen and (min-width: 1200px) {
	
}

@media screen and (min-width: 960px) and (max-width: 1200px) {
	
}

@media screen and (min-width: 768px) and (max-width: 960px) {
	
}

@media screen and (max-width: 768px) {
	
}